////BUTONS

.btn {
	padding: .2rem 1.5rem;
}
.btn-known-user {
	color: $dark-blue;
	font-weight: 700;
	border: 2px solid #ccc;
	padding: 0;
	@include linearGradient(#ffffff, #ececec);
	&:hover {
		color: $dark-blue;
		@include linearGradient(#ececec, #ffffff);
	}
	&:active {
		color: $dark-blue;
		background-color: #ececec;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $dark-blue;
		outline: 5px auto #ececec;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(66,165,220,.25);
	    transition: none;
	}	
	&:visited {
		color: $dark-blue;
	}
}
.btn-green {
	color: $white;
	border: 2px solid $green-button-border;
	@include linearGradient($green-button-top, $green-button-bottom);
	&:hover {
		color: $white;
		@include linearGradient($green-button-bottom, $green-button-top);
	}
	&:active {
		color: $white;
		background-color: $green-button-bottom;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $white;
		outline: 5px auto $green-button-top;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(6,174,75,.25);
	    transition: none;
	}	
	&:visited {
		color: $white;
	}
}
.btn-blue {
	color: $white;
	font-weight: 700;
	border: 1px solid $blue-button-border;
	@include linearGradient($blue-button-top, $blue-button-bottom);
	&:hover {
		color: $white;
		@include linearGradient($blue-button-bottom, $blue-button-top);
	}
	&:active {
		color: $white;
		background-color: $blue-button-bottom;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $white;
		outline: 5px auto $blue-button-top;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(66,165,220,.25);
	    transition: none;
	}	
	&:visited {
		color: $white;
	}
}

.btn-darkblue {
	color: $white;
	font-weight: 700;
	border: 1px solid $darkblue-button-border;
	@include linearGradient($darkblue-button-top, $darkblue-button-bottom);
	&:hover {
		color: $white;
		@include linearGradient($darkblue-button-bottom, $darkblue-button-top);
	}
	&:active {
		color: $white;
		background-color: $darkblue-button-bottom;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $white;
		outline: 5px auto $darkblue-button-top;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(66,165,220,.25);
	    transition: none;
	}	
	&:visited {
		color: $white;
	}
}

.btn-lightblue {
	color: $white;
	font-weight: 700;
	border: 1px solid $lightblue-button-border;
	@include linearGradient($lightblue-button-top, $lightblue-button-bottom);
	&:hover {
		color: $white;
		@include linearGradient($lightblue-button-bottom, $lightblue-button-top);
	}
	&:active {
		color: $white;
		background-color: $lightblue-button-bottom;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $white;
		outline: 5px auto $lightblue-button-top;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(66,165,220,.25);
	    transition: none;
	}	
	&:visited {
		color: $white;
	}
}
.btn-gray {
	color: $white;
	font-weight: 700;
	border: 1px solid $gray-button-border;
	@include linearGradient($gray-button-top, $gray-button-bottom);
	&:hover {
		color: $white;
		@include linearGradient($gray-button-bottom, $gray-button-top);
	}
	&:active {
		color: $white;
		background-color: $gray-button-bottom;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	}
	&:focus {
		color: $white;
		outline: 5px auto $gray-button-top;
	    outline-offset: -2px;
	    box-shadow: 0 0 0 0.2rem rgba(187,187,187,.25);
	    transition: none;
	}	
	&:visited {
		color: $white;
	}
}

.connect {
	font-size: 46px;
	font-weight: 700;
	border-radius: 0;
	padding:15px!important;
	.plus {
		position: relative;
		width: 30px;
		display: inline-block;
		height: 30px;
		&::before {
			content: "\f067";
	  		font-family: "Font Awesome 5 Free";
	  		font-weight: 900;
	  		font-size:30px;
			position: absolute;
			top: -7px;
			left: 0;
		}
	}
	.db {
		position: relative;
		width: 48px;
		display: inline-block;
		height: 48px;
		&::before {
			content: "\f1c0";
	  		font-family: "Font Awesome 5 Free";
	  		font-weight: 900;
	  		font-size: 48px;
	  		position: absolute;
	  		top: -5px;
			left: 3px;
		}
	}
	&.btn-known-user {
		font-size: 36px;
		line-height: 1.2;
		text-align: left;
		margin-bottom: 40px;
		padding: 0!important;
		img {
			float: left;
		}
		div {
			padding: 1.1rem 1.5rem;
			float: left;
		}
		.user-name {
			font-weight: normal;
		}
		&::after {
			content: "\f2f6";
	  		font-family: "Font Awesome 5 Free";
	  		font-weight: 900;
	  		font-size: 48px;
	  		position: absolute;
			right: 40px;
			top: 33px;
		}
	}
}

.home-button {
	font-size: 24px;
	font-weight: 700;
	padding:10px;
	margin-bottom: 40px;
	border: 2px solid $lightblue-button-border;
	.upload {
		&::after {
			content: "\f093";
	  		font-family: "Font Awesome 5 Free";
	  		font-weight: 900;
	  		font-size: 24px;

		}
	}
	.download{
		&::after {
			content: "\f019";
	  		font-family: "Font Awesome 5 Free";
	  		font-weight: 900;
	  		font-size: 24px;
		}
	}
	.history {
		&::after {
			content: "\f1da";
	  		font-family: "Font Awesome 5 Free";
	  		font-weight: 900;
	  		font-size: 24px;
		}
	}
}