body {
	font-family: $ptsans;
}
.container-fluid {
	max-width:1140px;
	height: 100vh;
}
.container {
	height: 100vh;
}
header {
	@include linearGradient($header-top, $header-bottom );
	width:100%;
	height:40px;
	.settings {
		color: $menu-items;
		font-size: 20px;
		float: right;
		padding: 5px 10px;
		border-left: 1px solid $header-separator;
		border-right:1px solid $header-separator;
		&:hover {
			color:$white;
			text-decoration: none;
		}
	}
	.server-name {
		position: absolute;
		width: 100%;
		text-align: center;
		color: white;
		pointer-events: none;
		top: 6px;
		font-weight: 700;
	}
	.user-holder {
		position: relative;
		float: right;
		.user {
			color:$menu-items;
			font-size: 20px;
			float: right;
			padding: 5px 10px;
			border-left: 1px solid $header-separator;
			.name {
				font-size: 16px;
				font-weight:700;
			}
			&:hover {
				color:$white;
				text-decoration: none;
			}
		}
		.user-dropdown {
			position: absolute;
			display: none;
			z-index: 100;
			width: 220px;
			top: 45px;
			right: -40px;
			background: $user-dropdown-background;
			border: 1px solid $user-dropdown-border;
			text-align: center;
			padding: 15px;
			.username {
				font-size: 14px;
				display: block;
				padding: 0 0 10px;
			}
			&::before {
				border-bottom: 10px solid $user-dropdown-background;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				right: 48px;
				top: -9px;
				width: 0;
				z-index: 2;
			 }
			 &::after {
				border-bottom: 10px solid $user-dropdown-border;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				content: "";
				height: 0;
				position: absolute;
				right: 48px;
				top: -10px;
				width: 0;
			 }
		}
	}
	.logo-header {
		color: $menu-items;
		font-size: 20px;
		float: left;
		padding: 0 10px;
		border-left: 1px solid $header-separator;
		.name {
			font-size: 16px;
			font-weight:700;
		}
		&:hover {
			color:$white;
			text-decoration: none;
		}
	}
	.menu-holder {
		position: relative;
		float: left;
		.menu {
			color:$menu-items;
			float: left;
			padding: 7px 30px 5px 10px;
			border-left: 1px solid $header-separator;
			border-right:1px solid $header-separator;
			font-size: 16px;
			font-weight:700;
			position: relative;
			&:hover {
				color:$white;
				text-decoration: none;
			}
			&::after {
				content: "\f107";
		  		font-family: $awesome;
		  		font-weight: 900;
		  		font-size:20px;
				position: absolute;
				top: 5px;
				right: 8px;
			}
		}
		.menu-dropdown {
			position: absolute;
			display: none;
			z-index: 100;
			width: 140px;
			top: 40px;
			left: -55px;
			background: $menu-back;
			border: 1px solid $menu-border;
			border-top: none;
			a {
				width:100%;
				padding:3px 10px;
				float: left;
				font-size: 16px;
				font-weight: 700;
				color: $menu-item;
				&:hover {
					text-decoration: none;
					background: $white;
				}
				&.monitor {
					border-top: 1px solid $menu-border;
				}
			}
		}
	}
	
}
.logo {
	margin: 50px 0;
	img {
		width:500px;
	}
}
.red-title {
	i{
		color: $alert;
		font-size: 30px;
	}
}
.alert {
	line-height: 1.2;
    font-size: 18px;
    color:$dark-text;
}
.folder-name {
	position: relative;
	padding-left: 30px;
	&::before{
		content: "\f07b";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-size: 16px;
	    color: $gray-button-border;
	    pointer-events: none;
	    position: absolute;
	    left: 4px;
	    top: 0px;
	}
}
#table1 {
	.fixed-table-body {
	    height: 256px;
	}
}
.date-holder {
	position: relative;
	&::before{
		content: "\f073";
	    font-family: "Font Awesome 5 Free";
	    font-weight: 900;
	    font-size: 25px;
	    color: $bigfriendly-button-bottom;
	    pointer-events: none;
	    position: absolute;
	    right: 25px;
	    top: 0px;
	}
}

.fixed-table-container .fixed-table-header thead th .th-inner {
	padding: 5px 8px 11px;
	&::before{
		content: '';
	    height: 40px;
	   	@include linearGradient($table-top, $table-bottom);
	    width: 100%;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	}
}
.fixed-table-container .fixed-table-header thead th.right-aligned .th-inner {
	padding: 5px 22px 11px 0;
}
.fixed-table-container thead th .th-inner {
	padding: 5px 8px 11px;
	&::before{
		content: '';
	    height: 40px;
	   	@include linearGradient($table-top, $table-bottom);
	    width: 100%;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	}
}
.fixed-table-container .filtered-table thead th .fht-cell {
	// &::before{
	// 	content: '';
	//     height: 40px;
	//    	background: $table-control;
	//     width: 100%;
	//     position: absolute;
	//     z-index: -1;
	//     top: 36px;
	//     left: 0;
	// }
}
.fixed-table-body {
	thead {
		&::after {
			content: '';
			background: $table-control;
			position: absolute;
			z-index: -2;
			top: 0; right: 0; bottom: 0; left: 0;
		}
	}

	tbody {
		background-color: #fff;
	}
	
}
.download-radio-selection {
	margin-top:20px;
	.form-check {
		margin-bottom: 15px;
	}
}

////TYPO
h2.main-title {
	color: $title-color;
	font-size: 24px;
	line-height: 1.2;
	margin:20px 0 10px;
	font-weight: 700;
	width:100%;
}
h2.section-title {
	font-size: 18px;
	font-weight: 700;
	color: $section-title;
	&.search-inline {
		margin-top: 10px;
	}
}
h3.step-description {
	width:100%;
	font-size: 18px;
	line-height: 1.2;
	margin:0 0 20px;
	font-weight: 700;
	color: $section-title;

}


#upload-project a.selected, #subject-session a.selected {
	background-color: lightblue;
}